/* Add your custom styles here */

.docsearch-content {
    @apply text-base;

    ul {
        @apply list-disc;
        @apply mx-4;
    }

    ol {
        @apply mx-4;
    }

    a {
        @apply font-normal;
        @apply text-sky-700;

        &[target=_blank]::after {
            display: inline-block;
            content: url(../../img/external-link-icon.svg);
            padding: 0 .1rem;
        }
    }

    table {
        td, th {
            @apply border;
            @apply border-gray-300;
            @apply px-2
        }

        th {
            @apply bg-gray-300;
        }

    }

    pre {
        @apply bg-gray-100;
    }

    figcaption,
    .tablecaption,
    .table-footnote {
        @apply leading-snug;
        @apply text-sm;
    }

    .caption {
        @apply mb-2;
    }

    .table-footnote {
        @apply mt-1;
    }

    h2, h3, h4, h5, h6 {
        .heading-permalink {
            display: inline-block;
            margin-left: -1.5rem;
            width: 1.5rem;
            padding-right: .5rem;
            scroll-margin: 2rem;
        }

        &:hover {
            a.heading-permalink {
                content: url(../../img/link.svg);
                opacity: .5;
            }
        }
    }

    .badge {
        @apply border;
        @apply rounded-full;
        @apply py-0;
        @apply px-3;
        @apply text-base;
        @apply text-white;

        &.badge-error {
            @apply border-red-600;
            @apply bg-red-600;
        }

        &.badge-warning {
            @apply border-orange-700;
            @apply bg-orange-700;
        }

        &.badge-info {
            @apply border-blue-600;
            @apply bg-blue-600;
        }

        &.badge-outline {
            @apply bg-transparent;

            &.badge-error {
                @apply text-red-600;
            }

            &.badge-warning {
                @apply text-orange-700;
            }

            &.badge-info {
                @apply text-blue-600;
            }
        }
    }

    .alert {
        @apply my-3;
        @apply py-1;
        @apply px-2;

        &.alert-error {
            @apply bg-red-600;
            @apply bg-opacity-20;
            
            .alert-header {
                @apply text-red-600;
            }
        }

        &.alert-warning {
            @apply bg-orange-700;
            @apply bg-opacity-20;

            .alert-header {
                @apply text-orange-700;
            }
        }

        &.alert-info {
            @apply bg-blue-600;
            @apply bg-opacity-20;

            .alert-header {
                @apply text-blue-600;
            }
        }

        .alert-header {
            @apply pt-2;
            @apply pb-4;
            @apply font-bold;
        }
    } 

    .hljs-number, .hljs-literal, .hljs-params {
        color: #7A4300;
    }

    .hljs-title {
        color: #005875;
    }
}

.toc {
    @apply fixed;
    @apply my-1;
    @apply mx-8;
    @apply text-base;

    &>div {
        @apply font-bold;
        @apply border-b;
        @apply border-b-gray-800; 
    }

    &>ul {
        @apply mt-1;

        li a {
            @apply text-sky-700;

            &:hover {
                @apply text-gray-800;
            }
        }

        &>li>ul>li {
            a {
                @apply font-normal;
            }
            
            &>ul>li {
                a {
                    @apply text-sm;
                }
            }

        }
    }


}
