/* Add your custom styles here */

.docsearch-content {
    font-size: 16px;
}

.docsearch-content ul {
    list-style-type: disc;
    margin-left: 1rem;
}

.docsearch-content ol {
    margin-left: 1rem;
}

.docsearch-content a {
    font-weight: 400;
}

.docsearch-content table td,
.docsearch-content table th {
    @apply border;
    @apply border-gray-300;
    @apply px-2
}

.docsearch-content table th {
    @apply bg-gray-300;
}

.docsearch-content figcaption,
.docsearch-content .tablecaption,
.docsearch-content .table-footnote {
    @apply text-sm;
}

.docsearch-content .tablecaption {
    margin-bottom: -1rem;
}

.docsearch-content .table-footnote {
    margin-top: -1rem;
}

.docsearch-content .alert {
    @apply my-3;
    @apply py-1;
    @apply px-2;
}

.docsearch-content .alert.alert-error {
    @apply bg-red-500;
    @apply bg-opacity-20;
}

.docsearch-content .alert.alert-warning {
    @apply bg-yellow-600;
    @apply bg-opacity-20;
}

.docsearch-content .alert.alert-info {
    @apply bg-blue-600;
    @apply bg-opacity-20;
}


.docsearch-content .alert .alert-header {
    @apply pt-2;
    @apply pb-4;
    @apply font-bold;
}

.docsearch-content .alert.alert-error .alert-header {
    @apply text-red-500;
}

.docsearch-content .alert.alert-warning .alert-header {
    @apply text-yellow-600;
}

.docsearch-content .alert.alert-info .alert-header {
    @apply text-blue-600;
}